{% extends 'base/layout.html' %}
{% load static %}
{# title #}
{% block title %}
  登入頁面
{% endblock title %}
{# style #}
{% block style %}
  {{ block.super }}
  <link rel='stylesheet' href={% static 'sign-in.css' %}>
  <style>
    .um-loginbox {
      width: 400px;
      margin: 0 auto;
      margin-top: 100px;
    }
  </style>
{% endblock style %}
{# content #}
{% block content %}
  {{ block.super }}
  <main class="form-signin w-100 m-auto">
    <form method="POST">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">請輸入你的登入資訊</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="formUserName" name="username"/>
        <label for="formUserName">使用者帳號</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="formUserPassword" placeholder="Password" name="password"/>
        <label for="formUserPassword">密碼</label>
      </div>

      <div class="checkbox mb-3">
        <input type="checkbox" value="remember-me" />
        <label>記住我的登入資訊</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">進入</button>
    </form>
  </main>
{% endblock content %}
{# js #}
{% block js %}
  {{ block.super }}
  <script>
    new Vue({
      el: '#index',
      delimiters: ['[[', ']]'],
      data() {
        return {
          formLoginInfo: {
            name: '',
            password: ''
          }
        };
      },
      created() {},
      methods: {}
    });
  </script>
{% endblock %}
