<!-- prettier-ignore -->
{% extends "base/index.html" %}
{% block title %}
{% if exchange == 'BINANCE' %}
{{ data.symbol }} - {{ data.info.lastPrice }}
{% elif exchange == "CRYPTOCOM" %}
{{ data.symbol }} - {{ data.info.a }}
{% else %}
ERROR
{% endif %}
{% endblock title %}
{% block content %} 
{# if true: Binance else: Cryptocom #}
<dl>
  <dt>交易對(symbol)</dt>
  <dd id="symbol">{{ data.symbol }}</dd>
  <dt>24h - 價格漲跌</dt>
  <!-- prettier-ignore -->
  <dd id="priceChange">
    {% if exchange == 'BINANCE' %}
      {{ data.info.priceChange }}
    {% elif exchange == "CRYPTOCOM" %}
      {{ data.info.c }}
    {% else %}
      ERROR
    {% endif %}
  </dd>
  <dt>24h - 價格漲跌幅度</dt>
  <!-- prettier-ignore -->
  <dd id="priceChangePercent">
  {% if exchange == 'BINANCE' %}
    {{ data.percentage }}
  {% elif exchange == "CRYPTOCOM" %}
    {{ ((data.data.info.a|float - (data.data.info.c|float|abs + data.info.a|float)) /
    (data.data.info.c|float|abs + data.info.a|float) * 100)|round(2, 'floor') }}
  {% else %}
    ERROR
  {% endif %}
  </dd>
  <dt>24h - 目前價格</dt>
  <dd id="lastPrice">
    <!-- prettier-ignore -->
    {% if exchange == 'BINANCE' %} 
      {{ data.info.lastPrice }} 
    {% elif exchange == "CRYPTOCOM" %} 
      {{ data.info.a }} 
    {% else %} 
      ERROR 
    {% endif %}
  </dd>
</dl>
<p id="result">{{ data }}</p>
{% endblock content %}
