{% extends "./base/layout.html" %}
{% block title %} Socket {% endblock title %}
{% block content %}
  <div id="socket">
    <el-main>
      <el-row>
        <el-col :span="12">
          <el-select
            v-model="select_exchange"
            placeholder="請選擇交易所"
            @change="select_exchange_method"
            :disabled="select_exchange_disabled"
          >
            <el-option
              v-for="item in select_exchange_items"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="12">
          <el-select
            v-model="select_symbol"
            filterable
            placeholder="請選擇交易對"
            @change="select_exchange_method"
            :disabled="select_symbol_disabled"
            @input="select_data"
          >
            <el-option
              v-for="item in select_symbol_items"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </el-col>
      </el-row>
      <el-row> [[symbol_data]]</el-row>
    </el-main>
  </div>
{% endblock content %} {% block js %}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"
  ></script>
  <script src="{{ url_for('static', filename='price_s.js') }}"></script>
{% endblock js %}
